.content111{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px 100px
}

.cont11 img{
    height:600px;
    width:800px;
}

.cont12{
    background-color: rgb(248,205,13);
    height:600px;
    display:inline-block;
    padding:10px 30px;
}

.cont12 h3{
    color:gray;
}

.cont12 h1{
    color:black;
    font-weight:700;
    font-size:50px;
    border-bottom:5px solid black;
}

.content112{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px 100px;
}

.data1{
    display:flex;
    justify-content:space-between;
    padding:30px;
}

.divi1 img{
    height:200px;
    width:200px;
    margin:10px;
}

.divi2 img{
    height:200px;
    width:200px;
    margin:10px;
}

.divi3 img{
    height:500px;
    width:500px;
    margin:20px;
}

.content112 a{
    color:black;
    text-decoration:none;
}

.data1{
    margin:20px 10px;
}