.content{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:10px;
    margin:50px 10px;
}

.sign1 img{
    height:500px;
    width:350px;
}

.sign2{
    height:500px;
    width:320px;
    background-color: aliceblue;
    align-items:start;
}

.sign2 label{
    align-items:start;
}

.sign2 input{
    margin:20px 10px;
}

#btn1{
    background-color: rgb(223,103,6);
    color:white;
    height:40px;
    width:200px;
    margin:30px;
    border:none;
    border-radius:5px;
}